@keyframes NewTask {
  0% {
    border: 1px solid #00aa0112;
    background: #00aa0112; }
  100% {
    border: 1px solid #00aa01;
    background: #00aa01; } }
@keyframes InProcess {
  0% {
    background-position: 0px; }
  100% {
    background-position: 60px; } }
.pop-up-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center; }
  .pop-up-wrapper .pop-up {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .pop-up-wrapper .pop-up span {
      font-size: 30px;
      margin-bottom: 20px;
      align-self: center; }
    .pop-up-wrapper .pop-up textarea {
      width: 400px;
      height: 300px;
      margin-bottom: 20px; }
    .pop-up-wrapper .pop-up p {
      border: 2px solid black;
      width: 120px;
      height: 30px;
      line-height: 30px;
      text-align: center; }
    .pop-up-wrapper .pop-up p:hover {
      cursor: pointer; }

.pop-up-active {
  display: flex; }

body {
  font-family: OswaldL;
  width: 100%;
  overflow-x: hidden; }

.active-task {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: 2px dashed #fcee21;
  background: #fffa9e; }
  .active-task .active-buttons-holder {
    display: flex; }
    .active-task .active-buttons-holder .active-text {
      width: 70%; }
    .active-task .active-buttons-holder .task-submit {
      height: 30px;
      width: 100px;
      background: #00be00a1;
      line-height: 30px;
      text-align: center; }
    .active-task .active-buttons-holder .task-decline {
      height: 30px;
      width: 100px;
      background: #be0000a1;
      line-height: 30px;
      text-align: center; }
    .active-task .active-buttons-holder p {
      cursor: pointer; }
    .active-task .active-buttons-holder p:not(last-child) {
      margin-right: 15px; }

.setter {
  display: none;
  flex-direction: column;
  width: 300px;
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid gray;
  position: fixed;
  top: 0px;
  right: 0px;
  transform: translate(300px, 0px);
  transition: 0.3s;
  right: 0px;
  z-index: 8000;
  background: white; }
  .setter textarea {
    height: 150px;
    resize: none; }
  .setter textarea, .setter input {
    margin-bottom: 20px; }
  .setter span {
    display: block;
    background: black;
    color: white;
    height: 40px;
    width: 160px;
    text-align: center;
    line-height: 40px;
    font-size: 20px; }
  .setter .admin-arrow {
    position: absolute;
    top: 8px;
    left: -50px;
    width: 50px;
    height: 50px;
    border-radius: 100% 0 0 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center; }
    .setter .admin-arrow img {
      height: 20px;
      transform: rotate(180deg); }
  .setter .admin-arrow:hover {
    cursor: pointer; }
  .setter span:hover {
    cursor: pointer; }

.setter-active {
  transform: translate(0px, 0px); }
  .setter-active .admin-arrow img {
    transform: rotate(0deg); }

.admin_pool {
  width: 100%; }
  .admin_pool .adm-task {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    margin-bottom: 5px; }
    .admin_pool .adm-task .adm-desc {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .admin_pool .adm-task .adm-comment {
      overflow: hidden;
      max-height: 0px;
      height: 0px;
      transition: 0.3s; }
    .admin_pool .adm-task .adm-comment-active {
      margin-top: 10px;
      border-top: 2px solid black;
      padding: 10px;
      max-height: 400px;
      height: auto; }
    .admin_pool .adm-task .adm-importance-indicator-3 {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 100%;
      width: 10px;
      background: #ff4638; }
    .admin_pool .adm-task .adm-importance-indicator-2 {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 100%;
      width: 10px;
      background: #f7ff38; }
    .admin_pool .adm-task .adm-importance-indicator-1 {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 100%;
      width: 10px;
      background: #48ff38; }
  .admin_pool .adm-just-task {
    border: 2px solid black; }
  .admin_pool .adm-task-completed {
    border: 2px solid #00be00a1;
    background: #00be00a1; }
  .admin_pool .adm-task-completed:hover {
    cursor: pointer; }
  .admin_pool .adm-task-in-process {
    border: 2px solid black;
    background-image: url("../img/process.png");
    background-size: 20px 20px;
    animation: InProcess 1s linear infinite; }
  .admin_pool .adm-task-declined {
    border: 2px solid #be0000a1;
    background: #be0000a1; }
  .admin_pool .adm-task-declined:hover {
    cursor: pointer; }

.pool {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 25px;
  box-sizing: border-box;
  width: 100%; }
  .pool .pool-icon {
    background: white;
    border-radius: 50%;
    position: absolute;
    height: 70px;
    width: 70px;
    bottom: 25px;
    right: 25px;
    border: 3px solid black;
    transition: 0.3s;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: Neuton;
    transform: translate(200px, 0); }
  .pool .pool-icon:hover {
    cursor: pointer; }
  .pool .pool-icon-active {
    background: #00c238a1;
    animation: NewTask 1s linear infinite alternate;
    transform: translate(0, 0); }
  .pool .task-list {
    transition: 0.3s;
    transform: translate(0, 25px);
    max-height: 60vh;
    height: 60vh;
    overflow-y: auto;
    position: absolute;
    width: calc(100% - 25px);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    background: white; }
    .pool .task-list li {
      box-sizing: border-box;
      width: calc(100% - 25px);
      padding: 15px;
      padding-left: 25px;
      transition: 1s;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative; }
      .pool .task-list li p {
        position: relative;
        z-index: 2; }
      .pool .task-list li .task-desc {
        width: 60%; }
      .pool .task-list li .barz {
        top: 0px;
        left: 0px;
        height: 100%;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between; }
        .pool .task-list li .barz div {
          width: 25%; }
      .pool .task-list li .importance-indicator-3 {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 100%;
        width: 10px;
        background: #ff4638; }
      .pool .task-list li .importance-indicator-2 {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 100%;
        width: 10px;
        background: #f7ff38; }
      .pool .task-list li .importance-indicator-1 {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 100%;
        width: 10px;
        background: #48ff38; }
    .pool .task-list .just-task {
      cursor: pointer;
      border: 2px solid black; }
    .pool .task-list li:not(last-child) {
      margin-bottom: 10px; }
    .pool .task-list .task-in-process {
      border: 2px solid black;
      background-image: url("../img/process.png");
      background-size: 20px 20px;
      animation: InProcess 1s linear infinite; }
    .pool .task-list .task-completed {
      border: 2px solid #00ff1a8f;
      background: #00ff1a8f; }
    .pool .task-list .task-declined {
      border: 2px solid #ff00008f;
      background: #ff00008f; }
  .pool .task-list-show {
    transform: translate(0, -60vh); }

header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid gray;
  padding: 0 20px;
  box-sizing: border-box; }
  header .list-close-button {
    position: fixed;
    top: 15px;
    right: 15px;
    transition: 0.2s;
    transform: translate(0px, 0px);
    display: block; }
  header .list-button-unactive {
    transform: translate(120px, 0px); }
  header .list-close-button:hover {
    cursor: pointer; }
  header .filter-inputs {
    position: relative; }
    header .filter-inputs input {
      width: 200px;
      height: 40px;
      padding-left: 10px;
      margin-right: 20px;
      border: 2px solid gray;
      border-radius: 5px;
      box-sizing: border-box; }
    header .filter-inputs ul {
      position: absolute;
      top: 40px;
      left: 0px;
      width: 200px; }
      header .filter-inputs ul li {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid gray;
        background: white;
        transition: 0.2s; }
      header .filter-inputs ul li:hover {
        cursor: pointer;
        background: #cccccc; }
  header .search-by-filters {
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 50%;
    background-image: url("../img/search.png");
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    transition: 0.2s; }
  header .search-by-filters:hover {
    cursor: pointer;
    background-color: #b7b7b7; }

.par {
  padding: 20px; }

/*# sourceMappingURL=style.css.map */
